.cardStyle {
    box-shadow: 10px 10px 10px hsla(0,5%,7%,.3);
    &:hover {
        box-shadow: none;
        border-color: rgb(170, 164, 164);
    }

}

.picts {
    height: 200px;
    width: 200px;
}