.cartHeader {
    position: relative;
    visibility: hidden;
    opacity: 0;
    transition: all .3s;

    .cartHeader__Cart {
        position: absolute;
        margin-top: -10px;
        margin-left: 20px;
        max-width: 30px;
    }

    .cartHeader__Badge {
        position: absolute;
        margin-left: 40px;        
        margin-top: -15px;
    }
    
}

.cartWidgetVisible {
    visibility: visible;
    opacity: 1;
    transition: all .3s;
}
